body{
    text-align: center;
    font-family: Helvetica, sans-serif;
}

h1{
    font-size: 42px;
}


.buttons-container button{
   border: none; 
   padding: 10px 15px;
   margin: 0 10px;
}


#container{
    display: flex;
    width: 300px;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    
}


.box{
    height: 100px;
    border: 5px solid black;
    box-sizing: border-box;
    flex: 1 1 33%;
}

#block-1, #block-2, #block-3{
    border-top: none;
 
}

#block-1, #block-4, #block-7{
    border-left: none;
}

#block-3, #block-6, #block-9 {
    border-right: none;
}


#block-7, #block-8, #block-9{
    border-bottom: none;
}


.X{
font-size: 65px;
color: red;
display: inline-block;
line-height: 100px;
}

.O{
width: 43px;
height: 43px;
border: 5px solid green;
border-radius: 50%;
display: inline-block;
margin-top: 15px;
}

.hide{
    display: none !important;
}


#score-container{
    font-weight: bold;
    padding-top: 10px;
    font-size:25px ;
    margin: auto;

    
}


#X-scoreboard{
color: red;
margin-right: 3px;
}

.score-box{
    margin: 0 20px;
}


#O-scoreboard{
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 3.3px solid green;
    border-radius: 50%;
    margin-left: 3px;
}


#message p{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 150px;
    width: 500px;
    font-size: 50px;
    color: white;
    background-color: black;
    padding: 20px;

}