@charset "UTF-8";

*{
 box-sizing:border-box ; 
 font-family: Helvetica, sans-serif;
}

.navbar{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.navbar .nav-item a{
color: #212529;

}

.nav-item{
    margin: 0 10px;
   
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 10px 25px;
    font-weight: bold;
}

.navbar .nav-item .btn{
    color: white;
    background-color:#F03E3E;
    border: 1px solid transparent;
    border-radius: 0;

}

.nav-link.btn.btn-primary:hover{
    background-color: white;
    color: #F03E3E;
    border-color: #F03E3E;
}

#top-container{
    padding: 110px;
    background-color: #F7f9FC;
    border-bottom: 4px solid #013068;
    margin-bottom: 30px;
    background-image: url("../img/photo-1539235097539-f1f33cc7e8c5.jpg");
    background-position: 0 100px;
    background-size: cover;
    color: white;
}

#main-title{
    padding: 30px 0;
    font-size: 3rem;
}

#main-subtitle{
    font-size: 1rem;
    padding-bottom: 80px;
}

#search-form{
    padding: 30px 100px;
    display: flex;
}

#search-form .col-md-10, #search-form .col-md-2{
    padding: 0;
}

#search-form input, #search-form button{
    min-width: 100%;
    border-radius: 0;
    height: 50px;
    font-size: 18px;
}

#search-form button{
    color: white;
    background-color: #F03E3E;
    border: 1px solid transparent;
}

#search-form button:hover, .list-group-item a:hover{
    background-color: white;
    color: #F03E3E;
    border-color: #F03E3E;
}

#job-list .list-group-item{
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 15px 80px;
    columns: #212529;
    height: 120px;
}


#img img{
    border: 1px solid hsl(210, 11%, 15%);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: white;
    position: absolute;
    left: -40px;
    top: calc(50% - 40px);
    padding: 10px;
}

#job-list .list-group-item p{
   font-size: 14px;
   margin-bottom: 5px;
}

#job-list .list-group-item.new-job{
    border: none;
    background-color:#FFF7CC ;
}

#jobs-container{
    padding: 0 100px;
    padding-bottom:50px ;
}

#job-list-title{
    margin-bottom: 35px;
}

.list-group-item a{
position: absolute;
right: 20px;
top: 35px;
height: 50px;
line-height: 35px;
background-color: #F03E3E;
border: 1px solid transparent;
border-radius: 0;
}

.new-job-label {
  background-color:#FFD500 ;
  color: #4D5154; 
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  right: 160px;
  top: 40px;
  display: none;
}

.new-job .new-job-label{
    display: block;
}