@charset "UTF-8";

*{
 box-sizing:border-box ; 
 font-family: Helvetica, sans-serif;
}

.navbar{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.navbar .nav-item a{
color: #212529;

}

.nav-item{
    margin: 0 10px;
   
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 10px 25px;
    font-weight: bold;
}

.navbar .nav-item .btn{
    color: white;
    background-color:#F03E3E;
    border: 1px solid transparent;
    border-radius: 0;

}

.nav-link.btn.btn-primary:hover{
    background-color: white;
    color: #F03E3E;
    border-color: #F03E3E;
}

#top-container{
    padding: 110px;
    background-color: #F7f9FC;
    border-bottom: 4px solid #013068;
    margin-bottom: 30px;
    background-image: url("../img/photo-1539235097539-f1f33cc7e8c5.jpg");
    background-position: 0 100px;
    background-size: cover;
    color: white;
}

#main-title{
    padding: 30px 0;
    font-size: 3rem;
}

#main-subtitle{
    font-size: 1rem;
    padding-bottom: 80px;
}

#search-form{
    padding: 30px 100px;
    display: flex;
}

#search-form .col-md-10, #search-form .col-md-2{
    padding: 0;
}

#search-form input, #search-form button{
    min-width: 100%;
    border-radius: 0;
    height: 50px;
    font-size: 18px;
}

#search-form button{
    color: white;
    background-color: #F03E3E;
    border: 1px solid transparent;
}

#search-form button:hover, .list-group-item a:hover,#form-box button:hover{
    background-color: white;
    color: #F03E3E;
    border-color: #F03E3E;
}

#job-list .list-group-item{
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 15px 80px;
    columns: #212529;
    height: 120px;
}


#img img{
    border: 1px solid hsl(210, 11%, 15%);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: white;
    position: absolute;
    left: -.1px;
    top: calc(50% - 30px);
    padding: 10px;
    margin-left: 4px;
}

#job-list .list-group-item p{
   font-size: 14px;
   margin-bottom: 5px;
}

#job-list .list-group-item.new-job{
    border: none;
    background-color:#FFF7CC ;
}

#jobs-container{
    padding: 0 100px;
    padding-bottom:50px ;
}

#job-list-title{
    margin-bottom: 35px;
}

.list-group-item a{
position: absolute;
right: 20px;
top: 35px;
height: 50px;
line-height: 35px;
background-color: #F03E3E;
border: 1px solid transparent;
border-radius: 0;
}

.new-job-label {
  background-color:#FFD500 ;
  color: #4D5154; 
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  right: 160px;
  top: 40px;
  display: none;
}

.new-job .new-job-label{
    display: block;
}

#add-form-container{
    margin-top: 40px;

}

.container h1{
   margin-bottom: 50px;
}

#form-box{
    padding: 50px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 15);
    border-radius: 4px;
    margin-bottom: 50px;
}

#add-form-container h2{
    color: #F03E3E;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
}

#add-form-container label{
    font-weight:bold ;
}

#add-form-container form input, #add-form-container form textarea{
    border: 2px solid #ccc;
    background-color: #F8F9FA;
    margin-bottom: 10px;
    margin-top: 3px;
}

#form-box button{
    height: 50px;
    width: 200px;
    background-color: #F03E3E;
    border: 1px solid transparent;
    border-radius: 0;
    margin-top: 20px;
}


 #job-view-container{
    margin-top:100px ;
 }

  #job-view-container h1{
    margin-bottom: 20px;
  }

  #img-container{
    margin-top: 20px;
    margin-bottom: 30px;
  }

  #img-container img{
    width: 100px;
    border-radius: 50%;
    border: 1px solid #212529;
  }

  .job-desc{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .bold{
    font-weight: bold;
  }

  .main-color{
    color: #F03E3E;
    text-decoration: none;
  }

  .back-link{
    border: 1px solid #F03E3E;
    padding: 5px 10px;

    transition: 0.5s;
    text-decoration: none;
    display: inline-block;
    width: 9%;

  }

  .back-link:hover{
    background-color: #F03E3E;
    color: white;
  }


 @media screen and (max-width:481px) {
    
    #navbarNav{
        text-align: center;
    }

    #top-container{
        padding: 50px;
        padding-top: 100px;
    }

    #main-title{
        font-size: 2.2rem;
    

    }

    #main-subtitle{
        font-size:1.5rem;

        }

        #search-form{
            padding: 0;
        }

        #jobs-container{
            padding: 20px;
        }
    
        .list-group-item{
            padding: 15px 85px;
        }

         .list-group-item h2{
            font-size: 1.1rem;
            width: 80%;
         }

         .list-group img{
            width:50px;
            left: 15px;
            top: calc(50% - 25px);
         }

         .new-job .new-job-label{
            display: none;
         }
   
         #job-list-title{
         text-align: center;
         }

         .back-link{
            width: 13%;
            margin-left: 20px;
         }

         #job-view-container p {
         font-size: 1.3rem;
         }

         .job-desc{
            width: 80%;
         }

         #form-box{
            padding:25px ;
         }

           #form-box h2{
            font-size: 1rem;
            text-align: center;
           }

             #form-box button{
                width: 100%;
             }
           

  }